.vacation-top-bar
{
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.25em;
}

.vacation-text
{
    border: solid 2px red;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.25em;
}